*                                                    @brandantck @csafreen @SantanM @suwarnoong @p-hoffmann
/.github/*                                           @p-hoffmann
/.github/workflows                                   @brandantck @mwaiyee @SantanM @p-hoffmann
/.github/workflows/pr-approval.yml                   @p-hoffmann
/plugins/fhir_functions/                                     @alicia-koh @csafreen @Zhimin-arya @p-hoffmann
/plugins/functions/_shared                                   @brandantck @jerome-ng @LSriragavan @khairul-syazwan @p-hoffmann @maggie-li-yd
/plugins/functions/alp-usermgmt                              @hengxian-jiang @SantanM @suwarnoong @p-hoffmann
/plugins/functions/alpdb                                     @hengxian-jiang @SantanM @suwarnoong @p-hoffmann
/plugins/functions/analytics-svc                             @brandantck @jerome-ng @LSriragavan @khairul-syazwan @p-hoffmann @maggie-li-yd
/plugins/functions/bookmark-svc                              @brandantck @jerome-ng @LSriragavan @khairul-syazwan @p-hoffmann @maggie-li-yd
/plugins/functions/cdw-svc                                   @brandantck @jerome-ng @LSriragavan @khairul-syazwan @p-hoffmann @maggie-li-yd
/plugins/functions/code-suggestion                           @alicia-koh @csafreen @Zhimin-arya @p-hoffmann
/plugins/functions/concept-mapping                           @hengxian-jiang @SantanM @suwarnoong @p-hoffmann
/plugins/functions/d2e-webapi                                @brandantck @jerome-ng @LSriragavan @khairul-syazwan @p-hoffmann @maggie-li-yd
/plugins/functions/dataset                                   @hengxian-jiang @SantanM @suwarnoong @p-hoffmann
/plugins/functions/demo                                      @hengxian-jiang @SantanM @suwarnoong @p-hoffmann
/plugins/functions/files-manager                             @hengxian-jiang @SantanM @suwarnoong @p-hoffmann
/plugins/functions/jobplugins                                @hengxian-jiang @SantanM @suwarnoong @p-hoffmann
/plugins/functions/strategus-analysis                        @hengxian-jiang @SantanM @suwarnoong @p-hoffmann
/plugins/functions/perseus                                   @hengxian-jiang @SantanM @suwarnoong @p-hoffmann
/plugins/functions/jobplugins-init                           @hengxian-jiang @SantanM @suwarnoong @p-hoffmann
/plugins/functions/supabase-storage-init                     @hengxian-jiang @SantanM @suwarnoong @p-hoffmann
/plugins/functions/white-rabbit-init                         @hengxian-jiang @SantanM @suwarnoong @p-hoffmann
/plugins/functions/portal-init                               @hengxian-jiang @SantanM @suwarnoong @p-hoffmann
/plugins/functions/alp-usermgmt-init                         @hengxian-jiang @SantanM @suwarnoong @p-hoffmann
/plugins/functions/alp-idp-migration-init                    @hengxian-jiang @SantanM @suwarnoong @p-hoffmann
/plugins/functions/strategus-analysis-init                   @hengxian-jiang @SantanM @suwarnoong @p-hoffmann
/plugins/functions/perseus-init                              @hengxian-jiang @SantanM @suwarnoong @p-hoffmann
/plugins/functions/files-manager-init                        @hengxian-jiang @SantanM @suwarnoong @p-hoffmann
/plugins/functions/mri-pa-config                             @brandantck @jerome-ng @LSriragavan @khairul-syazwan @p-hoffmann @maggie-li-yd
/plugins/functions/mri-pg-config                             @brandantck @jerome-ng @LSriragavan @khairul-syazwan @p-hoffmann @maggie-li-yd
/plugins/functions/portal                                    @hengxian-jiang @SantanM @suwarnoong @p-hoffmann
/plugins/functions/prefect                                   @hengxian-jiang @SantanM @suwarnoong @p-hoffmann
/plugins/functions/query-gen-svc                             @brandantck @jerome-ng @LSriragavan @khairul-syazwan @p-hoffmann @maggie-li-yd
/plugins/functions/terminology-svc                           @brandantck @jerome-ng @LSriragavan @khairul-syazwan @p-hoffmann @maggie-li-yd
/plugins/functions/alp-dataflow-gen-init                     @alicia-koh @csafreen @Zhimin-arya @p-hoffmann
/plugins/flows                                               @alicia-koh @csafreen @Zhimin-arya @p-hoffmann
/plugins/flows/hades/strategus_plugin                              @hengxian-jiang @SantanM @suwarnoong @p-hoffmann
/scripts                                             @brandantck @mwaiyee @SantanM @p-hoffmann
/services/alp-dataflow-gen                           @alicia-koh @csafreen @Zhimin-arya @p-hoffmann
/services/alp-dataflow-gen-worker                    @alicia-koh @csafreen @Zhimin-arya @p-hoffmann
/services/alp-logto                                  @hengxian-jiang @SantanM @suwarnoong @p-hoffmann
/services/alp-db-management                          @alicia-koh @csafreen @Zhimin-arya @p-hoffmann
/services/envConverter                               @brandantck @jerome-ng @LSriragavan @khairul-syazwan @p-hoffmann @maggie-li-yd
/services/mri-db                                     @brandantck @jerome-ng @LSriragavan @khairul-syazwan @p-hoffmann @maggie-li-yd
/services/materialize-cohorts                        @brandantck @jerome-ng @LSriragavan @khairul-syazwan @p-hoffmann @maggie-li-yd
/services/trex                                       @p-hoffmann
/tests                                               @brandantck @jerome-ng @LSriragavan @khairul-syazwan @p-hoffmann @maggie-li-yd
/plugins/ui                                                  @hengxian-jiang @SantanM @suwarnoong @p-hoffmann
/plugins/ui/alp-libs                                         @brandantck @jerome-ng @LSriragavan @khairul-syazwan @p-hoffmann @maggie-li-yd
/plugins/ui/apps/mri-pa-ui                                   @brandantck @jerome-ng @LSriragavan @khairul-syazwan @p-hoffmann @maggie-li-yd
/plugins/ui/apps/vue-mri-ui-lib                              @brandantck @jerome-ng @LSriragavan @khairul-syazwan @p-hoffmann @maggie-li-yd
/plugins/ui/apps/portal/src/components/Charts                @brandantck @jerome-ng @LSriragavan @khairul-syazwan @p-hoffmann @maggie-li-yd
/plugins/ui/apps/portal/src/plugins/mri                      @brandantck @jerome-ng @LSriragavan @khairul-syazwan @p-hoffmann @maggie-li-yd
/plugins/ui/apps/portal/src/plugins/Researcher/ConceptSets   @brandantck @jerome-ng @LSriragavan @khairul-syazwan @p-hoffmann @maggie-li-yd
/plugins/ui/apps/portal/src/plugins/Researcher/Terminology   @brandantck @jerome-ng @LSriragavan @khairul-syazwan @p-hoffmann @maggie-li-yd
/plugins/ui/apps/concept-sets                                @brandantck @jerome-ng @LSriragavan @khairul-syazwan @p-hoffmann @maggie-li-yd
/plugins/ui/apps/wizards                                              @brandantck @jerome-ng @LSriragavan @khairul-syazwan @p-hoffmann @maggie-li-yd
/tests/e2e/tests/02-users                                     @hengxian-jiang @SantanM @suwarnoong @p-hoffmann
/tests/e2e/tests/03-researcher                                @hengxian-jiang @SantanM @suwarnoong @p-hoffmann
/tests/e2e/tests/04-attribute                                 @hengxian-jiang @SantanM @suwarnoong @p-hoffmann
/tests/e2e/tests/05-datasets                                  @alicia-koh @csafreen @Zhimin-arya @p-hoffmann
/tests/e2e/tests/05-datasets/metadata.spec.ts                 @hengxian-jiang @SantanM @suwarnoong @p-hoffmann
/tests/e2e/tests/05-datasets/dataset-overview-search.spec.ts  @hengxian-jiang @SantanM @suwarnoong @p-hoffmann
/tests/e2e/tests/05-datasets/copy-datasets-id-schema-name.spec.js  @hengxian-jiang @SantanM @suwarnoong @p-hoffmann
/tests/e2e/tests/05-datasets/datasets_list.spec.ts            @hengxian-jiang @SantanM @suwarnoong @p-hoffmann
/tests/e2e/tests/05-datasets/user-permission.spec.ts          @hengxian-jiang @SantanM @suwarnoong @p-hoffmann
/tests/e2e/tests/06-cohort                                    @brandantck @jerome-ng @LSriragavan @khairul-syazwan @p-hoffmann @maggie-li-yd
/tests/e2e/tests/07-setup                                     @hengxian-jiang @SantanM @suwarnoong @p-hoffmann
/tests/e2e/tests/08-dataflow                                  @hengxian-jiang @SantanM @suwarnoong @p-hoffmann
/tests/e2e/tests/09-patient-analytics                         @brandantck @jerome-ng @LSriragavan @khairul-syazwan @p-hoffmann @maggie-li-yd
/tests/e2e/tests/10-jobs                                      @hengxian-jiang @SantanM @suwarnoong @p-hoffmann
/tests/e2e/tests/11-admin                                     @hengxian-jiang @SantanM @suwarnoong @p-hoffmann
/tests/e2e/tests/12-concepts/                                 @brandantck @jerome-ng @LSriragavan @khairul-syazwan @p-hoffmann @maggie-li-yd
/tests/e2e/tests/13-data-characterization                     @alicia-koh @csafreen @Zhimin-arya @p-hoffmann
/tests/e2e/tests/14-data-quality-dashboard                    @alicia-koh @csafreen @Zhimin-arya @p-hoffmann
/tests/e2e/tests/14-notebooks/notebook.spec.ts                @hengxian-jiang @SantanM @suwarnoong @p-hoffmann
/tests/e2e/tests/15-clinical-research                         @brandantck @jerome-ng @LSriragavan @khairul-syazwan @p-hoffmann @maggie-li-yd
/tests/e2e/tests/16-concept-mapping/                          @hengxian-jiang @SantanM @suwarnoong @p-hoffmann
/tests/e2e/tests/17-configurations                            @brandantck @jerome-ng @LSriragavan @khairul-syazwan @p-hoffmann @maggie-li-yd
/tests/e2e/tests/17-new-user-full-config                      @brandantck @jerome-ng @LSriragavan @khairul-syazwan @p-hoffmann @maggie-li-yd