**/node_modules
**/.env
**/spec
**/target
build
config
docs
jenkinsfile
node_modules
tests
plugins/ui/apps/vue-mri-ui-lib/src/query-filter/mock-server/static
plugins/ui/apps/webr-notebook/public/kernel-assets
plugins/ui/apps/vue-mri-ui-lib/dist-atlas
plugins/ui/apps/vue-mri-ui-lib/node_modules.localnpm.bak/*

#Exclude specific files/folders
!build/hana
!plugins/ui/apps/vue-mri-ui-lib/.env